.center {
  text-align: center;
}

body {
  background: white;
  font-family: Arial;
}

table {
  border: 5px outset;
  width: 66%;
  margin-left: 50vw;
  margin-right: 50vw;
}

th {
  background: navy;
  color: yellow;
  text-shadow: 2px 2px 2px black;
  
}