.center {
  text-align: center;
}

body {
  background: white;
  font-family: Arial;
}

table {
  border: 5px outset;
}

table.center {
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

th {
  margin: auto;
  background: navy;
  color: yellow;
  text-shadow: 2px 2px 2px black;
}