.center {
  text-align: center;
}

body {
  background: white;
  font-family: Arial;
}

table {
  border: 3px outset;
}

table.center {
  width: 66%;
  margin: auto;
  text-align: left;
}

th {
  background: navy;
  color: yellow;
  font-family: "Times New Roman";
  text-shadow: 2px 2px 2px black;
}

td {
  margin: 15px;
  border: 1.5px inset;
}